# Dataset folders
dataset/
datasets/
data/
Data Sets
NTHU_Dataset/
prepared_nthu_dataset/
cleaned_nthu_dataset/
Example/
scripts/
runs/

# Images and videos

*.jpeg
*.png
*.mp4
*.avi
*.mov
*.mkv

# ML model files
*.pth
*.h5
*.onnx
*.ckpt
models/

# Python cache
__pycache__/
*.pyc


venv/
.env/